<h1> About </h1>
<p>Tagrid is a service where you are able to upload an image of you choice 
  and that image will go up on the home page where everyone can see it. 
  This is a sample application.
</p>
