<div class="jumbotron">
    <h1>Welcome to Tagrid!</h1>
    <p>
      You've found the homepage for the Tagrid™ application.
    </p>
    <p>
     <%= link_to "Sign Up Now!", "#", class: "btn btn-primary"%>
    </p>
</div>